@charset "UTF-8";


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	max-width: 100%;
}


html {
	position: relative;
	padding-bottom: 210px;
	min-height: 100%;
}


@media screen and (max-width:360px) {

	html {
		padding-bottom: 230px;
	}

}


.navbar-static-top {
	margin-bottom: 0px;
	border-width: 0px 0px 0px;
}


.navbar-default {
	background-color: #fff;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #FBFBFB;
}

header,
.jumbotron {
    color: #fff;
	background: #271b38;
	background: -moz-linear-gradient(-45deg,  #271b38 0%, #563d7c 50%, #7952b3 100%);
	background: -webkit-linear-gradient(-45deg,  #271b38 0%,#563d7c 50%,#7952b3 100%);
	background: linear-gradient(135deg,  #271b38 0%,#563d7c 50%,#7952b3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#271b38', endColorstr='#7952b3',GradientType=1 );

}


.jumbotron h1, .jumbotron .h1 {
	margin-bottom: 0;
}


.hero-spacer h1, .hero-spacer .h1 {
	margin-bottom: 10px;
}


@media screen and (max-width:480px) {

	.jumbotron h1, .jumbotron .h1 {
		font-size: 24px;
	}

	.jumbotron p, .jumbotron .p {
		font-size: 14px;
	}

}


footer {
    margin: 0 0 0;
    padding: 50px 0;
    background-color: #f2f2f2;
	position: absolute;
	min-width: 100%;
	bottom: 0px;
}


footer a {
	color: #656565;
}


footer a:hover, a:focus {
	color: #363636;
}


.btn-violet {
	color: #7952B3;
	border-color: #7952B3;
	background-color: transparent;
}


.btn-violet:hover {
	color: #FFF;
	background-color: #7952B3;
}


#loginform > .form-group:last-child {
	margin-bottom: 0px;
}


.welcome-block {
	background-color: #F2F2F2;
	margin: 0px 15px 15px;
	border: medium none;
	border-radius: 4px;
	padding: 15px;
}


@media screen and (max-width:767px) {

	.welcome-block .media-left {
		display: none;
	}

}


#servinfo > .panel-body > .row > .col-xs-6 > p:last-child {
	margin-bottom: 0px;
}


.col-lg-9 .panel-body > .row:last-child .thumbnail {
	margin-bottom: 0px;
}